body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.header {
    padding: 24px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);

}
.header__wrapper {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 43px;
    height: 52px;
}

.header__text {
    font-size: 32px;
    margin: 0;
}
.main {
    padding: 70px 66px;
}

.ingredients-form {
    display: flex;
    justify-content: center;
    
}

.ingredients-form > input {
    display: inline-block;
    width: 399px;
    height: 38px;
    background-color: white;
    border: 1px rgba(209, 213, 219, 1) solid;
    border-radius: 6px;
    padding: 9px 13px;
    box-sizing: border-box;
    margin-right: 12px;
}

.ingredients-form > input::placeholder {
    font-size: 14px;
    color: rgba(107, 114, 128, 1);
    
}

.ingredients-form > button {
    display: inline-block;
    width: 183px;
    height: 38px;
    background-color: rgba(20, 20, 19, 1);
    padding: 9px 35px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    color: rgba(250, 250, 248, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Inter", sans-serif;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}

ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}

.get-recipe-container h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 14px;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}